
:root {
  --main-darklg: #13293D; 
  --main-dark: #247BA0; 
  --primary-color: #74A57F; 
  --main-light: #F0F0F0; 
  font-family: "Poppins", sans-serif;
}


body {
  background-color: #333744;
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  height: 7vh;
  align-items: center;
  position: relative;
  border-radius: 10px;
  color: #f3f7fb;
  width: 100% ;
  background-color: #7c5cbf;
}

.logo > h3 {
  color: var(--main-light);
}

.main {
  overflow: hidden;
  height: 92vh;
  display: flex;
}


.videos__group {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

video {
  height: 200px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 300px;
  object-fit: cover;
}

.options {
  display: flex;
  justify-content: center;
}

.buttons {
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
.options__button {
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  background-color: #7c5cbf;
  height: 60px;
  border-radius: 5px;
  color: #f3f7fb;
  width: 60px;
  margin: 1rem; 
}

.background__red {
    background-color: #f6484a;
  }
  
  
  #video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
 
  