
:root {
  --main-darklg: #13293D; 
  --main-dark: #247BA0; 
  --primary-color: #74A57F; 
  --main-light: #F0F0F0; 
  font-family: "Poppins", sans-serif;
}


body {
  background-color: #8797AF;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  height: 7vh;
  align-items: center;
  position: relative;
  border-radius: 10px;
  width: 100% ;
  background-color: var(--main-darklg);
}

.logo > h3 {
  color: var(--main-light);
}

.main {
  overflow: hidden;
  height: 92vh;
  display: flex;
}

.main__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.videos__group {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

video {
  height: 200px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 300px;
  object-fit: cover;
}

.options {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  background-color: var(--main-darklg);
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  height: 50px;
  border-radius: 5px;
  color: #303030;
  font-size: 1.2rem;
  width: 50px;
  margin: 0.5rem; 
}

.background__red {
    background-color: #f6484a;
  }
  
  .main__right {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    flex: 0.3;
    background-color: var(--main-darklg);
  }
  
  .main__chat_window {
    flex-grow: 1;
    border-radius: 10px;
    overflow-y: scroll;
  }
  
  .main__chat_window::-webkit-scrollbar {
    display: none;
  }
  
  .main__message_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main__message_container > input {
    height: 50px;
    flex: 1;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }
  
  .message {
    display: flex;
    flex-direction: column;
  }
  
  .message > b {
    color: #eeeeee;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  
  .message > b > i {
    margin-right: 0.7rem;
    font-size: 1.5rem;
  }
  
  .message > span {
    background-color: #eeeeee;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
  }
  
  #video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #showChat {
    display: none;
  }
  
  .header__back {
    display: none;
    position: absolute;
    font-size: 1.3rem;
    top: 17px;
    left: 28px;
    color: #fff;
  }
  
  @media (max-width: 700px) {
    .main__right {
      display: none;
    }
    .main__left {
      width: 100%;
      flex: 1;
    }
  
    video {
      height: auto;
      width: 100%;
    }
  
    #showChat {
      display: flex;
    }
  }